@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ToDoSharp</h1>
    <p>Um gerenciador de tarefas moderno para o seu dia a dia.</p>
    <p>Desenvolvido com <b>ASP.NET e SQLite</b>.</p>
</div>
